body{
    background-color: #E6F5FF!important;
}

.MultiSelected {
    width: 100%;
    background: white;
    z-index: 999;
    top: 40px !important;
    border-radius: 5px;
    box-shadow: 0px 4px 10px #0000001f;
    padding: 10px;
  }
  
  .MultiSelectedDrop span {
    margin: 0px 10px;
    line-height: 2;
  }
  
  .MultiSelected span {
    margin: 0px 10px;
  }
  .skillEdit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 10px;
  }

  

  